@model App.EndPoints.Home_RepaireUI.Areas.Seller.Models.Auction.AuctionViewModel

@{
    ViewData["Title"] = "ساخت حراجی";
}

<div class="portlet box border shadow">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h3 class="title">
                <i class="icon-settings"></i>
                ساخت حراجی جدید
            </h3>
        </div><!-- /.portlet-title -->
    </div><!-- /.portlet-heading -->
    <div class="portlet-body">
        <form role="form" method="post" asp-area="Seller" asp-controller="Auction" asp-action="Create">
            <div class="form-body">
                <div class="form-group row">
                    <label class="col-sm-3" for="startTime">زمان شروع</label>
                    <div class="col-sm-9">
                        <input type="datetime-local" id="startTime" name="startTime" class="form-control" />
                    </div>
                </div><!-- /.form-group -->

                <div class="form-group row">
                    <label class="col-sm-3" for="endTime">زمان پایان</label>
                    <div class="col-sm-9">
                        <input type="datetime-local" id="endTime" name="endTime" class="form-control" />
                    </div>
                </div><!-- /.form-group -->

                <div class="form-group row">
                    <label class="col-sm-3" for="productId">محصول</label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m =>m.ProductId , new SelectList( ViewBag.Products, "Id", "Name"), "-- انتخاب محصول --", new { @class = "form-control" })
                    </div>
                </div><!-- /.form-group -->
            </div><!-- /.form-body -->

            <div class="form-actions">
                <button type="submit" class="btn btn-info btn-round">
                    <i class="icon-check"></i>
                    ایجاد
                </button>
                <button type="button" class="btn btn-warning btn-round">
                    بازگشت
                    <i class="icon-close"></i>
                </button>
            </div><!-- /.form-actions -->
        </form>
    </div><!-- /.portlet-body -->
</div><!-- /.portlet -->
