<!DOCTYPE html>
<html>
<head>
    <title>Inventory Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <p class="text-danger ">موجودی کافی نیست </p>
    <p> هرچقدر اینجا بنویسی افزایش پیدا میکند </p>
    <form  method="post" asp-action="Inventory" asp-controller="Home">
        <input type="text" id="walletInput" name="wallet" >
        <button type="submit">Submit</button>
    </form>

    
</body>
</html>