<!DOCTYPE html>
<html lang="fa" dir="rtl" class="rtl">
<head>
    <title>قالب مدیریتی مدیران</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="قالب مدیریت ایرانی مدیران ">
    <meta name="keywords" content="قالب مدیریت, قالب داشبورد, قالب ادمین, قالب مدیران, قالب مدیریت راستچین , قالب ایرانی مدیریت, پوسته مدیریت, قالب ادمین داشبورد سایت, قالب مدیریتی, مدیران, قالب مدیریت مدیران, پنل مدیریت, پنل مدیریت مدرن, قالب ادمین متریال, قالب مدیریت بوت استرپ, قالب ادمین بوتسترپ, قالب ادمین سایت, پوسته مدیریتی ایرانی, قالب مدیرتی مدیران ایرانی, بهترین قالب مدیریت, قالب مدیریت ریسپانسیو, قالب مدیریت ارزان, قالب admin">
    <meta name="fontiran.com:license" content="NE29X">
    <link rel="shortcut icon" href="~/AdminArea/images/favicon.png">

    <!-- BEGIN CSS -->
    <link href="~/AdminArea/plugins/bootstrap/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="~/AdminArea/plugins/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="~/AdminArea/plugins/simple-line-icons/css/simple-line-icons.min.css" rel="stylesheet">
    <link href="~/AdminArea/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="~/AdminArea/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/AdminArea/plugins/switchery/dist/switchery.min.css" rel="stylesheet">
    <link href="~/AdminArea/plugins/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/AdminArea/plugins/paper-ripple/dist/paper-ripple.min.css" rel="stylesheet">
    <link href="~/AdminArea/plugins/iCheck/skins/square/_all.css" rel="stylesheet">
    <link href="~/AdminArea/css/style.css" rel="stylesheet">
    <link href="~/AdminArea/css/colors.css" rel="stylesheet">
    <!-- END CSS -->

</head>
<body class="active-ripple theme-blue fix-header sidebar-extra dark">
    <!-- BEGIN LOEADING -->
    <div id="loader">
        <div class="spinner"></div>
    </div><!-- /loader -->
    <!-- END LOEADING -->
    <!-- BEGIN HEADER -->
    <div class="navbar navbar-fixed-top" id="main-navbar">
        <div class="header-right">
            <span class="title12" style="
             width: 100%;
             display:flex;
             align-items : center;
             font-size : 20px !important;
             color : white !important;
             text-align : center;
             justify-content : center;">
                فروشنده
            </span>
        </div><!-- /.header-right -->
        <div class="header-left">
            <div class="top-bar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn" id="toggle-sidebar">
                            <span class="menu"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn open" id="toggle-sidebar-top">
                            <i class="icon-user-following"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn" id="toggle-dark-mode">
                            <i class="icon-bulb"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a href="#" class="btn" id="toggle-fullscreen">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </li>
                    <li class="dropdown dropdown-messages">
                        <a href="#" class="dropdown-toggle btn" data-bs-toggle="dropdown">
                            <i class="icon-envelope"></i>
                            <span class="badge badge-primary">
                                4
                            </span>
                        </a>
                        <ul class="dropdown-menu has-scrollbar">
                            <li class="dropdown-header clearfix">
                                <span class="float-start">
                                    <a href="#" rel="tooltip" title="خواندن همه" data-placement="left">
                                        <i class="icon-eye"></i>
                                    </a>
                                    شما 4 پیام تازه دارید.
                                </span>
                            </li>
                            <li class="dropdown-body">
                                <ul class="dropdown-menu-list">
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">
                                                    <img src="~/AdminArea/images/user/32.png" class="img-circle" alt="">
                                                    سهراب سپهری
                                                </strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    پانزده دقیقه پیش
                                                </small>
                                            </p>
                                            <p>پیام پرمهرتان دریافت شد!</p>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">
                                                    <img src="~/AdminArea/images/user/32.png" class="img-circle" alt="">
                                                    شفیعی کدکنی
                                                </strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    سی دقیقه پیش
                                                </small>
                                            </p>
                                            <p>بسته ارسالی شما به دستم رسید.</p>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">
                                                    <img src="~/AdminArea/images/user/32.png" class="img-circle" alt="">
                                                    قیصر امین پور
                                                </strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    یک ساعت پیش
                                                </small>
                                            </p>
                                            <p>مجموعه آثار بنده را ببینید.</p>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">
                                                    <img src="~/AdminArea/images/user/32.png" class="img-circle" alt="">
                                                    مهدی اخوان ثالث
                                                </strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    دو ساعت پیش
                                                </small>
                                            </p>
                                            <p>با تشکر...</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="#">
                                    <i class="icon-list fa-flip-horizontal"></i>
                                    مشاهده همه پیام ها
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown dropdown-announces">
                        <a href="#" class="dropdown-toggle btn" data-bs-toggle="dropdown">
                            <i class="icon-bell"></i>
                            <span class="badge badge-warning">
                                5
                            </span>
                        </a>
                        <ul class="dropdown-menu has-scrollbar">
                            <li class="dropdown-header clearfix">
                                <span class="float-start">
                                    <a href="#" rel="tooltip" title="خواندن همه" data-placement="left">
                                        <i class="icon-eye"></i>
                                    </a>
                                    <span>
                                        شما 8 اعلان تازه دارید.
                                    </span>
                                </span>

                            </li>
                            <li class="dropdown-body">
                                <ul class="dropdown-menu-list">
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">عباس دوران</strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    21:30
                                                </small>
                                            </p>
                                            <p>بسته ارسالی شما به دستم رسید.</p>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">حسن باقری</strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    20:20
                                                </small>
                                            </p>
                                            <p>از محبت شما ممنونم.</p>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">مدیر کل</strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    19:20
                                                </small>
                                            </p>
                                            <p>سفارش شما ارسال گردید..</p>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">مدیر مالی</strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    17:40
                                                </small>
                                            </p>
                                            <p>درخواست فیش حقوقی</p>
                                        </a>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#">
                                            <p class="clearfix">
                                                <strong class="float-start">ابراهیم همت</strong>
                                                <small class="float-end text-muted">
                                                    <i class="icon-clock"></i>
                                                    15:45
                                                </small>
                                            </p>
                                            <p>پیام های مرا دنبال کنید.</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-footer clearfix">
                                <a href="#">
                                    <i class="icon-list fa-flip-horizontal"></i>
                                    مشاهده همه اعلانات
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle dropdown-hover" data-bs-toggle="dropdown">
                            <img src="~/AdminArea/images/user/48.png" alt="عکس پرفایل" class="img-circle img-responsive">
                            <span>حمید آفرینش فر</span>
                            <i class="icon-arrow-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-action="EditeInformation" asp-controller="Home">
                                    <i class="icon-note"></i>
                                    ویرایش پروفایل
                                </a>
                            </li>
                            <li>
                                <a href="change_password.html">
                                    <i class="icon-key"></i>
                                    تغییر رمز عبور
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="chat.html">
                                    <span class="badge badge-primary float-end"> 14 </span>
                                    <i class="icon-envelope"></i>
                                    تیکت های جدید
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon-wallet"></i>
                                    کیف پول
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a asp-action="Login" asp-controller="Account" asp-area="">
                                    <i class="icon-power"></i>
                                    خروج
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul><!-- /.navbar-left -->
            </div><!-- /.top-bar -->
        </div><!-- /.header-left -->
    </div><!-- /.navbar -->
    <!-- END HEADER -->
    <!-- BEGIN WRAPPER -->
    <div id="wrapper">

        <!-- BEGIN SIDEBAR -->
        <div id="sidebar">
            <div class="sidebar-top">
                <div class="search-box">
                    <form class="search-form" action="#" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control placeholder-light" placeholder="جستجو..." name="key">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-round submit">
                                    <i class="icon-magnifier"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </div><!-- /.search-box -->
                <div class="user-box">
                    <a href="#">
                        <img src="~/AdminArea/images/user/128.png" alt="عکس پروفایل" class="img-circle img-responsive">
                    </a>
                    <div class="user-details">
                        <h4>حمید آفرینش فر</h4>
                        <p class="role">مدیر فنی</p>
                        <div class="dropdown user-login">
                            <button class="btn btn-xs btn-status dropdown-toggle btn-round" type="button" data-bs-toggle="dropdown" data-hover="dropdown">
                                <i class="fas fa-circle text-success"></i>
                                <span>دردسترس</span>
                            </button>
                            <ul class="dropdown-menu dropdown-status">
                                <li>
                                    <a href="#" class="busy">
                                        <i class="fas fa-circle text-success"></i>
                                        <span>دردسترس</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="busy">
                                        <i class="fas fa-circle text-danger"></i>
                                        <span>مشغول</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-circle text-gray"></i>
                                        <span>مخفی</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fas fa-circle text-warning"></i>
                                        <span>سایر</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /dropdown -->
                    </div><!-- /.user-details -->
                </div><!-- /.user-box -->
            </div><!-- /.sidebar-top -->
            <div class="side-menu-container">
                <ul class="metismenu " id="side-menu">

                    <li>

                        <a class="" asp-controller="Home" asp-action="Index" asp-area="Seller">

                            <span>پیشخوان</span>
                            <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.00288;"></div><div class="paper-ripple__waves"></div></div>
                        </a>

                    <li>
                        <a class="dropdown-toggle">
                            <i class="icon-home"></i>
                            <span>غرفه ی من</span>
                            <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.00288;"></div><div class="paper-ripple__waves"></div></div>
                        </a>

                        <ul>
                            <li>
                                <a href="@Url.Action("Create","Booth")" class="">
                                    <i class="icon-home"></i>
                                    <span>ساخت غرفه جدید</span>
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Edite","Booth")" class="">
                                    <i class="icon-home"></i>
                                    <span>ویرایش</span>
                                </a>
                            </li>

                        </ul>
                    </li>



                    <li>
                        <a asp-controller="Product" asp-action="Index" class="">
                            <i class="icon-briefcase"></i>
                            <span>کالاهای غرفه</span>
                            <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.00288;"></div><div class="paper-ripple__waves"></div></div>
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("GetAllOrders","Order")" class="">
                            <i class="icon-basket-loaded fa-flip-horizontal"></i>
                            <span>سفارشات </span>
                            <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-toggle">
                            <i class="icon-chart"></i>

                            <span> حراج</span>
                            <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.00288;"></div><div class="paper-ripple__waves"></div></div>
                        </a>
                        <ul>

                            <li>
                                <a asp-action="Create" asp-controller="Auction">

                                    <span>ساخت حراجی جدید</span>
                                </a>
                            </li>
                            <li>
                                <a asp-action="GetAllAuction" asp-controller="Auction">

                                    <span>لیست حراجی ها</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a class="" asp-controller="Comment" asp-action="GetAllComments" asp-area="Admin">
                            <i class="icon-bubble"></i>
                            <span>نظرات</span>
                            <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                        </a>
                    </li>


                </ul><!-- /#side-menu -->
            </div><!-- /.side-menu-container -->
        </div><!-- /#sidebar -->
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE CONTENT -->
        <div id="page-content">
            <div class="row">
                <!-- BEGIN BREADCRUMB -->
                <div class="col-md-12">
                    <div class="breadcrumb-box border shadow">
                        <ul class="breadcrumb">
                            <li><a href="dashboard.html">پیشخوان</a></li>
                            <li><a href="#">صفحات</a></li>
                            <li class="active">صفحه خام</li>
                        </ul>
                        <div class="breadcrumb-left">
                            سه شنبه، 1401/09/15
                            <i class="icon-calendar"></i>
                        </div><!-- /.breadcrumb-left -->
                    </div><!-- /.breadcrumb-box -->
                </div><!-- /.col-md-12 -->
                <!-- END BREADCRUMB -->

                <div class="col-12">
                    <div class="portlet box border shadow">
                        <div class="portlet-heading">
                            <div class="portlet-title">
                                <h3 class="title">
                                    <i class="icon-note"></i>
                                    تیتر صفحه
                                </h3>
                            </div><!-- /.portlet-title -->
                            <div class="buttons-box">
                                <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" title="تمام صفحه" href="#">
                                    <i class="icon-size-fullscreen"></i>
                                </a>
                                <a class="btn btn-sm btn-default btn-round btn-collapse" rel="tooltip" title="کوچک کردن" href="#">
                                    <i class="icon-arrow-up"></i>
                                </a>
                            </div><!-- /.buttons-box -->
                        </div><!-- /.portlet-heading -->
                        <div>
                            @RenderBody()
                        </div>
                    </div><!-- /.portlet -->
                </div><!-- /.col-12 -->
            </div><!-- /.row -->
        </div><!-- /#page-content -->
        <!-- END PAGE CONTENT -->

    </div><!-- /#wrapper -->
    <!-- END WRAPPER -->

    <div class="row footer-container">
        <div class="col-md-12">
            <div class="copyright">
                <p class="float-start">
                    کلیه حقوق قالب مدیران محفوظ می باشد و کپی برداری از آن به هیچ عنوان جایز نیست.
                </p>
                <p class="float-end ltr tahoma">
                    <span>©</span>
                    <a href="http://www.rayanik.com" target="_blank">Rayanik</a>
                </p>
            </div><!-- /.copyright -->
        </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
    <!-- BEGIN SETTING -->
    <div class="settings d-none d-sm-block">
        <a href="#" class="btn" id="toggle-setting">
            <i class="icon-settings"></i>
        </a>
        <h3 class="text-center">تنظیمات</h3>

        <div class="fix-header-box">
            <p class="h6">
                هدر ثابت:
                <span class="pull-left">
                    <input type="checkbox" class="fix-header-switch normal" checked>
                </span>
            </p>
        </div><!-- /.fix-header-box -->
        <hr class="light">
        <div class="toggle-sidebar-box">
            <p class="h6">
                جمع کردن سایدبار:
                <span class="pull-left">
                    <input type="checkbox" class="toggle-sidebar-switch normal">
                </span>
            </p>
        </div><!-- /.toggle-sidebar-box -->
        <hr class="light">
        <div class="toggle-sidebar-box">
            <p class="h6">
                سایدبار خلاقانه:
                <span class="pull-left">
                    <input type="checkbox" class="creative-sidebar-switch normal">
                </span>
            </p>
        </div><!-- /.toggle-sidebar-box -->
        <hr class="light">
        <div class="theme-colors">
            <p class="h6">رنگ قالب : </p>
            <a class="btn btn-round btn-blue ripple-effect active" data-color="blue"></a>
            <a class="btn btn-round btn-red ripple-effect" data-color="red"></a>
            <a class="btn btn-round btn-green ripple-effect" data-color="green"></a>
            <a class="btn btn-round btn-orange ripple-effect" data-color="orange"></a>
            <a class="btn btn-round btn-purple ripple-effect" data-color="purple"></a>
            <a class="btn btn-round btn-deeporange ripple-effect" data-color="deeporange"></a>
            <a class="btn btn-round btn-cyan ripple-effect" data-color="cyan"></a>
            <a class="btn btn-round btn-rose ripple-effect" data-color="rose"></a>
            <a class="btn btn-round btn-lime ripple-effect" data-color="lime"></a>
            <a class="btn btn-round btn-darkorange ripple-effect" data-color="darkorange"></a>
        </div><!-- /.theme-colors -->
        <div class="theme-code ltr text-left">
            <code></code>
        </div><!-- /.theme-code -->
    </div><!-- /.settings -->
    <!-- END SETTING -->
    <!-- BEGIN CODE MODAL -->
    <div class="modal fade" id="code-modal" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn btn-default btn-round btn-icon float-start" id="btn-copy"><i class="far fa-copy"></i></button>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">کپی کردن کدها</h4>
                </div>
                <div class="modal-body"></div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
    <!-- END CODE MODAL -->
    <!-- BEGIN JS -->
    <script src="~/AdminArea/plugins/jquery/dist/jquery-3.6.1.min.js"></script>
    <script src="~/AdminArea/plugins/bootstrap/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminArea/plugins/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/AdminArea/plugins/paper-ripple/dist/PaperRipple.min.js"></script>
    <script src="~/AdminArea/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/AdminArea/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/AdminArea/plugins/screenfull/dist/screenfull.min.js"></script>
    <script src="~/AdminArea/plugins/iCheck/icheck.min.js"></script>
    <script src="~/AdminArea/plugins/switchery/dist/switchery.js"></script>
    <script src="~/AdminArea/js/core.js"></script>


</body>
</html>