@{
    ViewData["Title"] = "داشبرد مدیریت";
    Layout = "~/Areas/Admin/Views/shared/_LayoutAdmin.cshtml";

}
<h1 class="text text-white text-center bg-danger  ">سلام اینجا صفحه اصلی ادمین است </h1>

