@model List<App.EndPoints.Home_RepaireUI.Models.Product.ProductViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "کالاهای موجود  ";
 

}
<div class="row">
    <div class="col-md-4 col-12 m-b-20">
    </div>
    <div class="col-md-4 col-12 m-b-20">
        <form role="form">
            <div class="input-group round">
                <input type="text" class="form-control" placeholder="جستجو...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="icon-magnifier"></i>
                        <div class="paper-ripple">
                    </button>
                </span>
            </div>
        </form>
    </div>

</div>
<p>کالا های تایید نشده</p>
<div class="table-responsive">
    <form method="post">



        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th><i class="icon-energy"></i></th>
                    <th>نام کالا</th>
                   
                    <th>مبلغ</th>
                    <th>ایدی غرفه</th>
                 
                </tr>
            </thead>
            <tbody>
                @{
                    int counter = 1;

                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@counter</td>
                            <td>

                                <span>
                                    @item.ProductName
                                </span>
                            </td>
                           
                            <td>@item.UnitPrice</td>
                            <td>@item.boothId</td>



                        </tr>

                    }
                    counter++;
                }

            </tbody>
        </table>
    </form>

</div>
