@{
    ViewData["Title"] = "غرفه ی من";
    Layout = "~/Areas/Seller/Views/shared/_LayoutSeller.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}
<form method="post">
    <div>
      <button class="btn btn-primary">ویرایش غرفه</button>
      <button class="btn btn-primary">ساخت غرفه</button>
      <button class="btn btn-primary">حذف غرفه</button>
 
    </div>

</form>
