@model List< App.EndPoints.Home_RepaireUI.Models.Product.ProductViewModel>
@{
    ViewData["Title"] = "نتایج جست وجو";
}
<form method="post">
    <div>
        <table>
            <thead>
                <tr class="text text-danger">
                    <th>ردیف</th>
                    <th>نام کالا</th>
                    <th>دسته بندی</th>
                    <th>نوع کالا</th>
                    <th>وضعیت</th>
                    <td>عملیات</td>
                </tr>
            </thead>
            <tbody>
                @{
                    int count1 = 1;
                    foreach (var item in Model)
                    {


                        <tr>
                            <td>@count1</td>
                            <td>@item.ProductName</td>
                            <td class="text text-warning">@item.category</td>
                            <td>@item.Allproduct</td>
                           
                        </tr>
                        count1++;

                    }
                }
            </tbody>
        </table>
    </div>
</form>

